/* Contact.css */

/* Basic styling for the entire Contact component */
.con {

  background-image: url("https://www.weddinggownpreservationkit.com/blog-images/zoom-wedding/thumbs/zoom-mountaintop-wedding-background-tmb.jpg");
  background-size: cover; /* Make sure the background image covers the entire element */
  animation: backgroundAnimation 5s infinite; /* 5s duration, infinite loop */
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

  
  /* Title styles */
  .all-title-box {
    background: #333;
    padding: 20px 0;
    text-align: center;
    
    
  }
  
  .all-title-box h1 {
    color: black;
    font-weight: bold;
    margin: 0;
    font-family:'Courier New', Courier, monospace ;
    
  }
  
  /* Breadcrumb styles */
  .breadcrumb-item.active {
    color: rgb(13, 13, 13);
    font-weight: bold;
    margin-right: 950px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
  }
  
  /* Contact section styles */
  .contact__section {
    padding: 40px 0;
    
  }
  
  .contact__section h2 {
    margin-top: 20px;
    font-style:unset;
  }
  
  .contact__section p {
    margin-top: 20px;
  }
  
  /* Contact info styles */
  .contact__info {
    border-radius: 10px;
    background: rgb(234, 16, 67);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact__info h3 {
    color: #333;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .contact__info--items__inner {
    display: flex;
    align-items: center;
  }
  
  .contact__info--icon {
    margin-right: 10px;
  }
  
  /* Contact form styles */
  .contact__form--list {
    margin-bottom: 20px;
  }
  
  .contact__form--label {
    display: block;
    font-weight: bold;
  }
  
  .contact__form--input {
    width: 100%;
    padding: 10px;
    border: 1px solid #121111;
    border-radius: 5px;
  }
  
  .contact__form--label__star {
    color:rgb(195, 35, 35) ;
  }
  
  .contact__form--textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #1a1919;
    border-radius: 5px;
  }
  
  .contact__form--btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Google Map section styles */
  .google-map-section {
    margin-top: 20px;

  }
  
  .google-map {
    
 width: 83%;

 
}
  