/* Add CSS animations for your Membership component */
.membarship-page{
    color: black;
}
/* Title animation */
.all-title-box h1 {
    color: white;
    font-weight: bold;
    animation: fadeInUp 1s ease-in-out;
  }
  
  /* Breadcrumb animation */
  .breadcrumb-item {
    color: white;
    font-weight: bold;
    margin-right: 950px;
    animation: slideInRight 1s ease-in-out;
  }
  .team__card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .team__card--thumbnail {
    height: 200px;
    overflow: hidden;
  }
  
  .team__card--thumbnail__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .team__card--content {
    padding: 20px;
  }
  
  .banner__video--btn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .primary__btn {
    background-color: green;
  }
  
  /* Add additional styling as needed */
  