/* Add this CSS to your stylesheets or use a CSS-in-JS solution like styled-components */

.newsletter__popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }
  
  .newsletter__show {
    display: flex;
  }
  
  .newsletter__popup--inner {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .newsletter__popup--close__btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .newsletter__popup--box {
    display: flex;
  }
  
  .newsletter__popup--thumbnail {
    margin-right: 20px;
  }
  
  .newsletter__popup--thumbnail__img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .newsletter__popup--box__right {
    flex: 1;
  }
  
  .newsletter__popup--title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000;
  }
  
  .newsletter__popup--content--desc {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #1f1e1e;
  }
  
  /* Add any additional styles based on your design requirements */
  